# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Images; no need to save in repository
web/assets/

# Directory created by dartdoc
doc/api/

.makeactions/
local_packages/